@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Roboto&display=swap');


.weeklyCard {
    width: 500px;
}

.weeklyLessonCard {
    display: block;
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 3px solid blue;
    flex-wrap: wrap;
}

.notes {
    font-family: 'Playfair Display', serif;
   font-weight: bold;
}

.notes_header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    
}

.note_header_title {
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    margin-left: 60px;
    padding: 30px;
    text-align: center;
    font-size: 40pt;
    color: whitesmoke;
    position: absolute;
    z-index: 2;
}
.note_toggle {
    width: 400px;
    height: 260px;
    box-shadow: 4px 4px 20px rgb(165, 141, 88);
    transition: 0.5s;
    border-radius: 10px;   
    flex-direction: row;
}

.date_notes {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: larger;
}

.note_name {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: larger; 
}

.noteList {
    background-image: url("https://www.nicepng.com/png/detail/869-8692688_musica-hi-res-music-notes.png");
}

.piano_pic1 {
    height: 200px;
    opacity: .8;
    margin: 1em;
    padding: 1em;
    position: relative;
    width: 1200px;
    height: 200px
}

