.weeklyCard {
    width: 500px;
}

.awardCard {
    display: block;
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid blue;
    flex-wrap: wrap;
}

.notes {
   font-family: Georgia, 'Times New Roman', Times, serif; 
   font-weight: bold;
}

.notes_header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    
}

.award_title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    font-size: 40pt;
    color: black;
 
}
.note_toggle {
    width: 400px;
    height: 260px;
    box-shadow: 4px 4px 20px rgb(165, 141, 88);
    transition: 0.5s;
    border-radius: 10px;   
    flex-direction: row;
}

.date_notes {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: larger;
}

.note_name {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: larger; 
}

.awardList {
    background-image: url("https://www.nicepng.com/png/detail/869-8692688_musica-hi-res-music-notes.png");
}

.piano_pic1 {
    height: 200px;
    opacity: .8;
}